.product-details {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-btn {
  margin-top: 3%;
  padding: 8px 16px;
  border: none;
  color: beige;
  background-color: #495371;
  transition: 0.7s;
}

.order-btn:hover {
  letter-spacing: 1.5px;
}

.most-viewed-products {
  display: flex;
  justify-content: space-around;
}

.product-card {
  border: 1px solid #e1e1e1;
}

.card-img {
  height: 45vh;
}
